<nav>
    <div class="nav-wrapper light-blue">
      <a href="#" class="brand-logo">Stork</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= link_to "Signup", new_user_registration_path %>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        
<!-- need to create the form in the nav bar
	conditional to show logout
	change color bluescale
	signup
	stretch nav bar to cover page
	add footer
 -->
