<nav>
    <div class="nav-wrapper light-blue">
      <a href="/" class="brand-logo">Stork</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Signup", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end%>
      </ul>
    </div>
  </nav>

<!-- need to create the form in the nav bar
	change color bluescale
	add footer
 -->
