<script src="https://use.fontawesome.com/7b050a501f.js"></script>
<style>
body{
  background: url("large.jpg");
}
.fa-github {
  font-size: 35px;
  color :#52527a;
  text-align: center;
}

.banner {
  text-align: center;
  color:#3333cc;
  padding:60px;
}

.links {
   margin: 0 auto;
}

.goup-shot{
  width:100%;
  display: block;
  margin: 0 auto;
}

.wrapper{
  background: beige;
  padding:60px;
  width:120%;
}
</style>

<div class="container wrapper">
  <div class="container banner">
    <h2> Welcome to Stork </h2>
    <img class="goup-shot" src="group.JPG">
  </div>
  <a  class="fa fa-github" href="https://github.com/Brikky/shop-app" target="_blanck">
  </a>
  <div> team members </div>
  <div> challenges </div>
  <div> </div>
</div>