<script src="https://use.fontawesome.com/7b050a501f.js"></script>
<div class="container banner">
  <h2> Welcome to Stork </h2>
</div>

<style>
.fa-github {
  font-size: 35px;
  color :#52527a;
  text-align: center;
}

.banner {

  text-align: center;
  color:#3333cc;
  padding:60px;
}

.links {

   margin: 0 auto;
}
</style>

<div class="container links">
   <a  class="fa fa-github" href="https://github.com/Brikky/shop-app" target="_blanck">
   </a>
</div>