/*New Product Detail page structure*/

.dashed {
    border-bottom: dashed 2px #ccc;
    padding-bottom: 12px;
    margin-bottom: 12px;
    
      display: inline-block;
}


#ContentWrapper {
    margin:auto;
}

.ui-dialog .ui-dialog-content .section {
    width:98%;/*stops x scrollbar*/
}
.ui-dialog .ui-dialog-content .bullet,
.ui-dialog .ui-dialog-content p {
   float:left;
   clear:left;
}

[id=productDetailPage] {
 color: #464646;
}
[id=productDetailPage] .flex {
        display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
[id=productDetailPage] .flex> div {
    -ms-flex: 1;
    -webkit-box-flex: 1;
flex: 1;
}
.pd-column-1 {
    margin-right: 30px;
}
[id=productDetail] #pdImageBlock
{
    position:relative;
    -ms-flex-pack: center;
    -webkit-justify-content: center; 
    justify-content: center;
}
#blockPriceRating {
    display: inline-block;
    padding-top: 20px;
    width: 100%;
}

#pdpRatingLine {
    position: relative;
    width: 160px;
    float: left;
    clear: none;
    left:40px;
}
div#pdAltBlock {
width: 60px;
float: left;
clear: none;
}


#pdMainImgHolder
{
    font-size:0;
}
.icon-play:before {
font-size: 43px;
display: inline-block;
font-family: vitacost;
border: solid 1px #ddd;
width: 50px;
height: 50px;
line-height: 50px;
}


[id=productDetail] .pb-callout {
border-radius: 4px;
border: 1px solid #ccc;
top: 0;
right: -20px;
}
.pb-callout li {
font: normal 14px/1 Arial;
}
.pb-callout li + li {
border: 0;
}

#pdMainContent {
    margin-top: -24px;
}


#pdTitleBlock {
   margin-bottom: 34px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
#pdTitleBlock h1 {
    font: normal 30px/1.2 Arial, sans-serif;
    text-align: center;
    border-bottom: dashed 2px #494949;
    padding: 0 1em 12px;
    margin-bottom: 10px;
    width: auto;
    display: inline-block;
    float: none;
    box-sizing: border-box;
}
#pdTitleBlock .link-line
{
   font-size: 13px;
    color: #666;
    width: auto;
    text-align: center;
    display: inline-block;
}
}
ul.link-line li {
    float: none;
    display: inline-block;
}

.link-line li:before {
        content: '|';
        letter-spacing: .5em;
    }
.link-line li:first-child:before {
        content: '';
    }

.sub-brackets > p{
    font: normal 14px/1.2 Arial,sans-serif;
}





.touch #pdTitleBlock .link-line
{
font-size:13px}
.touch .button1.bbt
{
    padding: 0 16px;
}    
[id=zoomSocial] {
  z-index: 10;
  float:left;
}

[id=zoomSocial] #magicZoomControl {
border: 0;
margin-top: 0;
}             
[id=zoomSocial] #ppdSocialControl
{
    float:right;
    margin-right: 0;
    margin-top: 9px;
}
#ppdSocialControl li
{
 margin-left: 3px;
 line-height:normal
}


.image-500-wrapper{/*applies to div and td*/
width: 500px;
height: auto;
/*vertical-align:middle;*/
text-align: center;
display:table-cell;
}
.image-500{
height: auto;
width: auto;
max-width: 350px;
max-height: 350px;
}

.pd-side-box-inner .product-block {
    text-align: center;
}
.pd-side-box-inner .pb-image a{
    width: 100%;
height: 100%;
display: inline-block;

}
.dark
{
    background: #e7e7e7;
    
}
#pd-compareSave h3
{
    font-weight:bold;
    margin-top:0;
}
#pd-compareSave ul
{
    float:left;
}
#pd-compareSave .product-block
{
    text-align: center;
    border-top: dotted 1px #ccc;
    margin-top:10px;
    padding-top:10px
}
#pd-compareSave .product-block:first-child
{
    border: 0;
    padding-top:0
}
#pd-compareSave .pb-image
{
    min-height:100px;
}
#pd-compareSave .pb-mid
{
    height:auto
}

/*Deported Styles*/
/*Varieties*/
#pdpVariations {
    padding-bottom: 12px;
}
#productVariations strong span {
font-weight: normal;
color: #c00;
font-size: 11px;
}
.product-variations
{
    margin-left:-5px
}
.product-variations li
{
    float:left;
    clear:none;
    margin:4px;
    border:solid 1px #fff;
}
    .product-variations li:hover
    {
        border-color:#000;
    }
.product-variations p
{
padding: 4px;
font-size: 11px;
background: #E7E7E7;
color: #4167B1;
width: 90px;
height: 40px;
text-align: center;
vertical-align: middle;
display: table-cell;
cursor: pointer;
}
    .product-variations a
    {
        width: 90px;
        height: 40px;
        display: table-cell;
        vertical-align: middle;
    }
.product-variations .pv-selected p
{
    background-color: #464646;
    color: #FFF
}
li.pv-selected-not-available a,li.pv-not-available a
{
    color:#CBCBCB;
}
    li.pv-selected-not-available,
    li.pv-selected-not-available:hover,
    li.pv-not-available:hover
    {
        border-color:red;
    background:#eee
    }



    #magicZoomControl
    {
        float:left;
        margin:10px 5px 10px 0
    }

.BVRRDisplayContentLinkWrite a, .BVRRDisplayContentLinkWrite a:visited, .BVRRDisplayContentLinkWrite a:hover, .BVRRDisplayContentLinkWrite a:focus, .BVRRDisplayContentLinkWrite a:active
{
   background: url(/images/lpa/bv_write-a-review.png) no-repeat 0 0!important;
}

/*Fixes for stray bullet in product description*/

#productDetails H1 {font-weight:bold;}
#productDetails ul {
    list-style: disc outside none;
    margin-left:1.2em;
    float: left;
width: 100%;
margin-bottom: 24px;}
#productDetails li {
margin-bottom: 6px;
}

/* -------------------------------------------------------------------- */
/* Cloud Zoom migrated from cloud-zoom.css Ramie Deihl 8-28-14 */

.cloud-zoom-lens {
	border: 1px solid #000;
	margin:-1px;
	background-color:#fff;	
	cursor:move;		
}
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#fff;
	color:#000;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
	left:0px;
}
.cloud-zoom-big {
	border:1px solid #000;
	overflow:hidden;
}
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}


.pdp-conditions {
width: 100%;
}
.pdp-conditions li {
}
/*.coldpack img
{
    margin-left:-40px;
}
.freeship img
{
    margin-left:-79px;
}
.bogo img
{
    margin-left:-118px;
}
.save10 img
{
    margin-left:-158px;
}
.bogoho img
{
    margin-left:-198px;
}*/
.pdp-conditions img {

}

[id=textMessagesBlock] p{font-weight:bold}

[id=textMessagesBlock] em{color:#f00;font-style:normal}

.block-line {float:left;clear:both;width:100%}
.block-line li {
float: left;
clear: none;
margin: 10px 10px 0 0;
padding: 3px 10px;
border: solid 1px #999;
border-radius: 4px;
background: #F3F3F3;
font-weight: bold;
color:#5487c6;
}

/*New BV Implementation 7/30/2014*/
.dotted-bar {
    float: left;
    width: 100%;
    border-top: dotted 1px #999;
    border-bottom: dotted 1px #999;
}
#skuLine
{
    line-height: 150%;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 5px;
}
.RSTL_RightRating_Product
{
    height: 24px;
    padding: 5px 0;
    margin-top:6px;
    position:relative
}
div#bvRating {
    margin: 0;
    left: 49px;
    width: 120px;
    top: 0;
}

[id=pdpRatingLine] .rating .stars-g, [id=pdpRatingLine] .rating .stars-r {
  font-size: 29px;
}


.RSTL_RightRating_Product .BVRRRatingNormalImage {
display: none;
}
.RSTL_RightRating_Product .BVRRRatingOverall .BVRRRatingNormalOutOf,
.RSTL_RightRating_Product .BVRRRatingOverall .BVRRNumber
{
    font-size: 24px;
    font-weight: normal;
}
.RSTL_RightRating_Product .BVRRCount.BVRRNonZeroCount {
    color: #5487C6;
}
.RSTL_RightRating_Product .BVRRRatingNormalImage {
display: none;
}
#BVRRSummaryContainer {
    position: absolute;
    width: 100%;
    left: 12px;
    top: 5px;
}

.RSTL_RightRating_Product .BVRRRatingsHistogramButtonImage {
    width: 100%;
    height: 27px;
    position: absolute;
    left: 0;
    top: 0;
}
.RSTL_RightRating_Product .BVRRRatingSummaryLinks div{
    float: left;
clear: none;
}
.BVRRRatingSummaryLinkSeparator,
.RSTL_RightRating_Product #BVRRRatingSummaryLinkWriteID {

    display: none;
}
.RSTL_RightRating_Product .BVRRRatingSummaryLinkRead
{
    border: 0;
    white-space: nowrap;
}
.RSTL_RightRating_Product #BVRRRatingSummaryLinkReadID
{
  
}
.BVRRNumber.BVRRRatingRangeNumber,
.BVRRSeparatorText {
    display: none;
}

#BVSecondaryCustomerRatings .BVRRSeparatorText {
    display: inline;
}

#BVSecondaryCustomerRatings .BVRRRatingRangeNumber {
    display: inline;
}

.RSTL_RightRating_Product .BVRRRatingSummaryLinks {
    float: left;
    clear: none;
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 0;
    position: absolute;
    top: 36px;
}
.RSTL_RightRating_Product .BVRRCount:after {
    content:'\003E';
    font-family: vitacost;
    padding-left: .3em;
}

.BVRRRatingOverall .BVRRRatingNormalOutOf, .BVRRRatingOverall .BVRRNumber {
    font-size: 24px;
    font-weight: normal;
}
.BVRRRatingSummaryLinksCustomOutOfText {
    display: none;
}

div.BVRRReviewDisplayStyle3Main {
margin-left: 160px;
}
div.BVRRReviewDisplayStyle3Summary
{
    width: 150px;
}
.BVRRDisplayContentLinkWrite a, 
.BVRRDisplayContentLinkWrite a:visited, 
.BVRRDisplayContentLinkWrite a:hover, 
.BVRRDisplayContentLinkWrite a:focus, 
.BVRRDisplayContentLinkWrite a:active {
background: url(/images/lpa/bv_write-a-review.png) no-repeat 0 0!important;
}
.BVRRRootElement {
    font-family: Arial,sans-serif;
    color: #494949;
    font-size: 24px;
    line-height: 1.5em;
    left: 0;
}

div#bvRating.r0 {
    display: none;
}
.BVRRRatingSummaryNoReviews {
    margin-top: -10px;
}

/*set and save dropdown*/
#atcasddCnt select {
}

.RSBR_BottomWrapper_Product {
    position: relative;
}

[id^=tabs]
{
   text-align: center;
   margin-top: 50px;
}

#tabs ul,#tabs ul li{
    position: static;
    display: inline-block;
    float: none;
}



#tabs .tabsProd a {
    border: 0;
    font-size: 20px;
    color: #adadad;
    font-weight: normal;
    display: inline-block;
    width: auto;
    float: none;
    display: inline-block;
    padding: 0 30px;
    line-height: 1.4;
}
.ui-tabs-nav li {
}
.ui-tabs .ui-state-default a
{
    
}
#tabs .ui-state-active a{
color: #656565;
border-bottom: solid 3px #494949;
}
.ui-tabs .ui-corner-top a
{
   
}
.ui-tabs-anchor:focus
{
    outline:0;
}


[id^=tabs] .tabsProdl li + li
{
    margin-right: 10px;
}




#tabs .content {
width:90%;
padding: 15px 5%;
border: 0;
border-top: solid 1px #ccc;
text-align: left;
}

#detailsTabContent > div {
    width: 48%;
    float: left;
    clear: none;
}
#detailsTabContent > div + div {
    float: right;
}
.ui-tabs-nav li:first-child {

}

.tab-link a{
    font-size: 19px;
    font-weight: bold;
    margin-top: 1em;
    display: inline-block;
}
    .tab-link a:before {
        font-size: 24px;
    }

#tabs #recipes {
    text-align: center;
}
#tabs .blog-content,
#tabs .blog-content h2 { 
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
    .blog-content * {
        text-align: left;
    }
    .blog-content img.nopin {
    margin-bottom: 24px;
}
[id=recipes] h2 {
    font: 100 normal 36px/1.2 "Roboto Slab", arial, sans-serif;
    margin-top: 0;
}

[id=recipes] p {
    font-size: 16px;
}

[id=blogLogo] {
    display: none;
}
[id=print-recipe] {
    display: none;
}

[id=view-recipe] {
 
    left: 1px;  
    position: absolute;
    top: 35px;  
    color: #4167B1;
    cursor: pointer;
}
/*BBT*/
.box-shaded
{
    background:#e7e7e7;
}
.pt5P {
margin-top: 0px;
}
.pt6P {
float: none;
margin-left: 0px;
margin-top: 0px;
}
.pt6PInf {
float: left;
position: relative;
margin-top: 0px;
}
.pt6PInfIn {
float: left;
margin-bottom: 0px;
margin-left: 0px;
margin-top: 22px;
}
    .pt6PInfIn p
    {
        margin-left: 10px;
    }
.pt6PInfIn .pSavingsM {
color: #464646;
}

#pdpVariations label {
}

#pdpPricingBlock select,#pdpVariations  select,
.styled-select.styled-select  {
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    color: #464646;
    padding-left: .5em;
}

#pdpVariations li {
    display: inline-block;
    margin-right: 1em;
}
#pdpVariations label,
#pdpBuyBox label,
label.tooltip {
    font-size: 18px;
    font-weight: bold;
}
    #pdpVariations select:focus
    {
        outline: 0;
    }
label.tooltip {
    padding-right: .9em;
    margin-top: 10px;
}
label.tooltip:after {
    content: '\20DD\fe56';
    letter-spacing: -.65em;
    font-weight: normal;
    font-size: .9em;
    top: -.4em;
    position: relative;
}

#pdpBuyBox li {
    float: left;
    clear: none;
	margin-right:10px;
}

#myListContainer {
    /* padding-left: 1em; */
    /* line-height: 26px; */
    font-size: 16px;
    box-sizing: border-box;
    white-space: nowrap;
}
    #myListContainer a:before {
        content:'+';
        font-size: 18px;
        padding-right: .3em;
    }
#pdpBuyBox li:first-child {
    text-align:left;
        
}

#pdpBuyBox .button1 {
    width: 224px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
}
#setSaveWrapper {
    position: relative;
}
.RSTR_TopInStock_Product {
  /*  position: absolute;  ramie */
}
#ssTrigger
{
    margin-left:-.5em;
}
    #ssTrigger, #ssTrigger span
    {
    display:inline-block;
    }

#pdpProductPricing {
     width: auto;
    display: table-row;
    float:left;
   /* min-width: 340px;*/
}
#pdpProductPricing li
{
    padding-right: 1em;
    display:table-cell;
    vertical-align: middle;
    overflow: visible;
}
#pdpProductPricing li p
{
    font-size: 19px;
    padding: 0;
    margin: 0;
}

#pdpProductPricing [id=pdpSubPrice] {
      border-right: solid 1px #ccc;
      padding-right: 30px;
      height: 72px;
    overflow: visible;
    }


#pdpProductPricing .pOurPriceM {
    font: normal 40px/1.2 Arial, sans-serif;
    color: #494949;
    margin: 0;
    margin-top: -18px;
}

 #pdpProductPricing .pdp-sale-price {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: -8px;
    display: inline-block;
}
#pdpProductPricing li p {
    clear: left;
}




#pdpProductPricing .pRetailPrice.mainPrice {
font-size: 28px;
}
/*.savings
{
font-style:italic;

}*/
.pBuyMsgLive {
margin: 6px 0;
display:none;
}

.pt6PInfIn a.button1.details
{
    margin-left: 52px;
}

[id=blockPriceRating] > p {
    margin: 0 0 2px;
    font-size: 14px;
    color: #92c03e;
}

/* ADD TO CART INCREMENTOR */
[id=atcButtonWrapper] {
    margin-top: 1.5em;
}

.atc-wrap {
  background: white;
  padding: 2px;
  border: 1px solid #ddd;
}
.atc-wrap .spinner {
  width: 33px;
  height: 33px;
  background: none;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  color: #666;
  border-radius: 0 !important;
  cursor: pointer;
}
.atc-wrap .spinner:hover {
  background: #e7e7e7;
  color: #666;
}
.atc-wrap .spinner.off {
  background-color: #fbfbfb;
  color: #ccc;
}
input.qty-field {
    outline: 0;
    height: 32px;
    width: 3em;
    text-align: center;
    border: 2px solid #e1e1e1;
    margin: 0;
}
input[type=number] {
    -moz-appearance: none;
  -webkit-appearance: textfield;
}
.atc-wrap input.qty-field {
  outline: 0;
  height: 32px;
  width: 5ex;
  text-align: center;
  border: none;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

    .atc-wrap .pdp-quantity:focus {
        outline: 0;
    }

.atc-wrap {
    background: white;
    padding: 2px;
    border: 1px solid #666;
    border-radius: 4px;
    min-width: 108px;
}
.atc-wrap [id=priceATC] {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
    font-size: 0;
}
.atc-wrap .spinner {
    width: 33px;
    height: 32px;
    background: #fff;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    color: #666;
    border-radius: 0 !important;
    cursor: pointer;
    font-size: 24px;
    line-height: 30px;
}
.atc-wrap .spinner.off {
    background-color: #fbfbfb;
    color: #ccc;
}

input.pdp-quantity {
    height: 30px;
    font-size: 20px;
    margin-right: -20px;
    width: 4em;
    border: 0;
}
.atc-wrap .plus {
border-left: solid 1px #ddd;
}
.atc-wrap .minus {
    border-right: solid 1px #ddd;
}



[id=topPromoMessages] {
    width: 75%;
    display: inline-block;
}
[id=myListContainer] {
    width: 25%;
    display: inline-block;
    float: none;
    clear: none;
}

.RSTR_TopInStock_Product.section {
    margin-bottom: 0px;
}

/* Ingredient Facts Template0 - Default */
.if0 { width:100%; margin:0 0 0 2%; font-size:12px; }
.if0 .ifChrt { padding:4px 8px 6px; border:solid 1px #000; }
.if0 .ifChrtInr { width:100%; }
.if0 .ifDcrn { font-size:13px; padding:5px 0 6px 0; text-align:left; font-weight:bold; }
.if0 .ifDcrn span { font-weight:normal; }
.if0 .ifTtl { font-weight:bold; font-size:18px; }
.if0 .ifSngSz, 
.if0 .ifSngPC { font-size:13px; }
.if0 .ifHdrSep { padding-top:3px; margin:4px 0 0 0; background-color:#000; }
.if0 .ifITbl { width:100%; font-size:11px; }
.if0 .ifAPShdr,
.if0 .ifDVhdr { font-weight:bold; padding:3px 0 4px 0; }
.if0 .ifColHdrSep { background-color:#000000; height:2px; margin-bottom:4px; }
.if0 .ifNcol { width:60%; vertical-align:top; font-size:12px; text-indent: 6px; }
.if0 .ifAcol { width:25%; padding-left:7px; vertical-align:top; text-align:center; }
.if0 .ifDVcol { width:15%; padding-left:7px; vertical-align:top; text-align:center; }
.if0 .ifBl { background-color:#000000; margin:5px 0 4px 0; }
.if0 .ifFn { }
.if0 .ifOi { font-style:italic; width:99%; }
.if0 .ifOi div { padding:5px 10px 0 10px; }
.if0 .ifLgs { margin:10px 0 0 0; }
.if0 .ifLgImg { width:110px; text-align:center; vertical-align:middle; }
.if0 .ifLgTx { vertical-align:middle; font-size:10px; }
.if0 .sepH { margin:5px 0 5px 0; }



.icon-line .tooltip {
    width: auto;
    display: inline-block;
    width: 39px;
    margin-right: 6px;
}
.icon-line [class^="icon-"]:before, 
.icon-line [class*=" icon-"]:before { 
    font-size: 39px;
    margin-left: 0;
}

.icon-snow:before,
.icon-cold:before,
.icon-fsa:before,
.icon-shipping:before { color: #6bb6d3; } /* 'light blue' */
.icon-bogo-50:before,
.icon-mix-match:before,.icon-fsa-rx:before,
.icon-bpa-free:before { color: #284c88; } /* 'dark blue' */
.icon-set-save:before,
.icon-leaf-1:before,
.icon-leaf-2:before,
.icon-tree-1:before,
.icon-tree-2:before,
.icon-vegan:before { color: #92c03e; } /* 'green' */
.icon-bogo-free:before,
.icon-set-save-10:before,
.icon-paleo:before,
.icon-melty:before { color: #db5426; } /* 'red' */
.icon-gluten-free:before,
.icon-organic:before { color: #e5c320; } /* 'yellow' */
.icon-quality:before { color: #ae88be; } /* 'purple' */

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}


[id="topPromoMessages"] em {
    color: #f00;
    font-style: normal;
}

.pdp-conditions li {
width: 45px;
height: 45px;
float: left;
clear: none;
overflow: hidden;
margin-right: 10px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    #pdpRatingLine {
      left: 0;
    }

    #pdpProductPricing [id=pdpSubPrice] {
      border-right: none;
    }

    [id=pdTitleBlock] .link-line li a:before {
      content: '';
    }
}

.tablet #setSaveWrapper {
    margin-top: 16px;
}
